Repository MrBartusek/MeteoalarmCard, pull requests merged in 2022-08, with the labels that each got.

#106 Update Dust event icon to `weather-dust` (HA 2022.08)
  src/data.ts
  src/util.ts
Labels: enhancement

#107 Update Croatian translation
  src/localize/languages/hr.json
Labels: translation

#113 Add Portuguese Translation
  README.md
  src/localize/languages/pt.json
  src/localize/localize.ts
Labels: translation

#116 Fix font color on light theme
  src/meteoalarm-card.ts
  src/types.ts
Labels: bug

#115 Update Italian Translation
  src/localize/languages/it.json
Labels: translation

#120 Fix DWD alerts with level 4
  src/integrations/dwd.ts
Labels: bug, integration: dwd

#122 Update & Fix Swedish translation
  src/localize/languages/se.json
  src/localize/languages/sv.json
  src/localize/localize.ts
Labels: bug, translation
