Repository MrBartusek/MeteoalarmCard, pull requests merged in 2022-07, with the labels that each got.

#96 Update Slovak translation
  src/localize/languages/sk.json
Labels: translation

#97 Update german translation
  src/localize/languages/de.json
Labels: translation

#98 Update french translation
  src/localize/languages/fr.json
Labels: translation

#99 Put README integrations in table
  README.md
Labels: enhancement

#105 Fix environment canada letter cases for some event
  src/integrations/env_canada.ts
Labels: bug, integration: env-canada
