Repository MrBartusek/MeteoalarmCard, pull requests merged in 2022-11, with the labels that each got.

#128 Add Bulgarian translation
  README.md
  src/localize/languages/bg.json
  src/localize/localize.ts
Labels: translation

#121 French support for env canada
  src/integrations/env_canada.ts
Labels: bug, integration: env-canada

#129 Fix default (stub) configuration
  src/meteoalarm-card.ts
Labels: bug
