Repository MrBartusek/MeteoalarmCard, pull requests merged in 2022-12, with the labels that each got.

#130 Update bulgarian translation
  src/localize/languages/bg.json
Labels: translation

#131 Rework card scaling system
  dosc/scaling-mode.md
  src/editor.ts
  src/localize/languages/bg.json
  src/localize/languages/cs.json
  src/localize/languages/de.json
  src/localize/languages/en.json
  src/localize/languages/es.json
  src/localize/languages/et.json
  src/localize/languages/fr.json
  src/localize/languages/hr.json
  src/localize/languages/it.json
  src/localize/languages/nl.json
  src/localize/languages/pl.json
  src/localize/languages/pt.json
  src/localize/languages/sk.json
  src/localize/languages/sv.json
  src/localize/schema/schema.json
  src/measure-text.ts
  src/meteoalarm-card.ts
  src/styles.ts
  src/types.ts
Labels: enhancement, translation

#135 Update Polish translation
  src/localize/languages/pl.json
Labels: translation

#136 Add ha-card border radius to card to follow theme style
  src/styles.ts
Labels: bug

#137 Add missing css properties to ha-card
  src/styles.ts
Labels: bug
