Repository MrBartusek/MeteoalarmCard, pull requests merged in 2023-03, with the labels that each got.

#161 Standardize `getLevelBySeverity` functions
  src/data.ts
  src/integrations/meteoalarm.ts
  src/integrations/nina.ts
  src/integrations/weatheralerts.ts
  src/util.ts
  src/utils.ts
Labels: bug, enhancement, integration: meteoalarm, integration: nina, integration: weatheralerts

#162 Fix card scaling on very small sizes
  src/meteoalarm-card.ts
Labels: bug

#159 Update Estonian translation
  src/localize/languages/et.json
Labels: translation

#166 Add `overrides` to getLevelBySeverity (fix NINA severities)
  src/integrations/nina.ts
  src/utils.ts
Labels: bug, integration: nina

#165 Fix HA frotnent version check
  src/utils.ts
Labels: bug
