Repository MrBartusek/MeteoalarmCard, pull requests merged in 2023-10, with the labels that each got.

#217 Fix weatheralerts: "Special Weather" Alert Type Not Found
  src/integrations/weatheralerts.ts
Labels: bug, integration: weatheralerts

#220 Update eslint rules & update eslint-related dependencies
  .eslintrc.cjs
  package-lock.json
  package.json
  src/data.ts
  src/editor-warnings.ts
  src/editor.ts
  src/events-praser.ts
  src/external/swiperStyles.ts
  src/helpers/action-handler-directive.ts
  src/helpers/process-config-entities.ts
  src/helpers/process-editor-entities.ts
  src/integrations/burze_dzis_net.ts
  src/integrations/dwd.ts
  src/integrations/env_canada.ts
  src/integrations/integrations.ts
  src/integrations/meteoalarm.ts
  src/integrations/meteofrance.ts
  src/integrations/nina.ts
  src/integrations/weatheralerts.ts
  src/localize/localize.ts
  src/measure-text.ts
  src/meteoalarm-card.ts
  src/predefined-cards.ts
  src/styles.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Labels: enhancement, translation

#222 Environment Canada (French): Fix Watch and Severe Thunderstorm events detection
  src/integrations/env_canada.ts
Labels: bug, integration: env-canada

#223 DWD: Fix entity type detection when using translated `enity_id`
  src/integrations/dwd.ts
Labels: bug, integration: dwd

#227 Improve custom CSS support
  README.md
  src/data.ts
  src/events-praser.ts
  src/meteoalarm-card.ts
  src/predefined-cards.ts
  src/styles.ts
  src/types.ts
Labels: enhancement
